/* In-game form design and layout */

form {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  width: 160px;
  padding: 8px;
  font-weight: bold;
}

.submit-button {
  margin-right: 8px;
  padding: 8px 16px;
  background: #253fb3;
  border: none;
  color: white;
  font-size: medium;
  border-radius: 6px;
  cursor: pointer;
}

.submit-button:hover {
  background: #2054a8;
}

.hint-button {
  margin-right: 8px;
  padding: 8px 16px;
  background: #bb4419;
  border: none;
  color: white;
  font-size: medium;
  border-radius: 6px;
  cursor: pointer;
}

.hint-button:hover {
  background: #ba260c;
}
